<%- include('../partials/header') -%>
<div class=" m-5 bg-primary rounded">
    <div class="row justify-content-center">
        
        <div class="m-5 card col-8 justify-content-center bg-info shadow">
            <nav class="row navbar navbar-expand bg-light">
                <div class="container-fluid">
                
                    <ul class=" col navbar-nav justify-content-around">
                      <li class="nav-item ">
                       User Name: <strong><%= user.userName %></strong>
                      </li>
                      <li class="nav-item ">
                       User ID:  <strong><%= user.id.slice(-6) %></strong>
                      </li>
                      <li class="nav-item ">
                         <a href="/logout" class="btn-sm btn btn-info">Logout</a>
                      </li>
                    </ul>
                
                </div>
              </nav>
            <div class="mt-4 mb-3 card ">
                <div class=" row justify-content-center align-self-center">
                    <div
                        class=" col-md-7 row text-center justify-content-center align-self-start"
                    >
                        <h2 >Tests</h2>
                        <div
                            class="row justify-content-center align-items-center mb-3"
                        >
                            <form class="justify-content-center align-self-center row">
                                <div class="dropdown row justify-content-start">
                                    <div class="col-lg-6">
                                        <select
                                            name="testId"
                                            class="col-6 form-select"
                                            aria-label="list of spelling test titles"
                                        >
                                            <option selected disabled>
                                                Tests
                                            </option>
                                            <%for(let i =0; i < tests.length;
                                            i++) { %>
                                            <option
                                                id="testName"
                                                value="<%=tests[i]._id%>"
                                            >
                                                <%=tests[i].title%>
                                            </option>
                                            <%} %>
                                        </select>
                                    </div>
                                    <div class="text-center col-lg-5">
                                        <button class="btn btn-sm btn-info">
                                            View Test
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <% if(!selectedTest){%>
                            <p>No Test Selected</p>
                            <%} else {%>
                            <p class="text-center mt-2 fs-5">
                                <%=selectedTest.title%>
                            </p>

                            <div class="row">
                                <ul class="list-unstyled text-center col-6">
                                    <li><strong>Base Words</strong></li>
                                    <% for (word of selectedTest.baseWords) {%>
                                    <li><%=word%></li>
                                    <%}%>
                                </ul>

                                <ul
                                    class="list-unstyled text-center align-self-start col-6"
                                >
                                    <li><strong>Challenge Words</strong></li>
                                    <% for (word of selectedTest.challengeWords)
                                    {%>
                                    <li><%=word%></li>
                                    <%}%>
                                </ul>
                               
                            </div>
                           
                        <%}%>
                        </div>
                    </div>
                    <div
                        class="col-md-4 row text-center justify-content-center align-self-start"
                    >
                        <h2 class="text-nowrap">Students</h2>
                        <div
                            class="row mb-3 "
                        >
                        <span class=" p-0">Name: <strong><%= child[0].userName %></strong></span>
                                <table class="table table-sm mt-3">
                                <thead>
                                    <tr class="justify-content-start">
                                        
                                        <td colspan="3"
                                        class="fs-5">Grades*</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(!selectedTest) {%> 
                                        
                                            <tr>
                                                <td>-</td>
                                            </tr>
                                      
                                    <%} else {%> 
                                        <%if (grades != []){%> 
                                            <%for(let i =grades.length-1; i>= 0 && i>=grades.length-3; i--){%>
                                                     
                                            <td>
                                                <%= grades[i].grade %>
                                            </td>
                                                        
                                            <%}%>
   
                                        <%} else {%>
                                            <td>-</td>
                                            <%}%>
                                        </tr>
                                    <%}%>
                                </tbody>
                            </table>
                            <small class="align-self-end">*last three (3) grades shown</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') -%>
</div>
