<%- include('../partials/header') -%>
<h3 class="testTitle "><%=test.title%> Test</h3>
<div class=" row">
    <form method="POST" autocomplete="off" class="card col">
        <p>Press the <span><i class="fas fa-play-circle"></i></span> button to hear the spelling word. Then type the word in the space. </p>
        <div class="text-center row">
        <% for (word of randTest) {%>
            <div class="input-field">
                <button type="button" onclick="sayWord(event)" id="<%=word%>" value="<%=word%>"><i class="fas fa-play-circle"></i></button> 
                <input type="text" id="<%=word%>" name="<%=word%>">
            </div>
        <%}%>
        </div>
        <h4 class="text-center">Challenge Words</h4>
        <div class="text-center">
            <% for (word of randChallenge) {%>
                <div class="input-field">
                    <button type="button" onclick="sayWord(event)" id="<%=word%>" value="<%=word%>"><i class="fas fa-play-circle"></i></button>
                    <input type="text" id="<%=word%>" name="<%=word%>">
                </div>
            <%}%>
        </div>
        <div class="row center">
            <input type="submit" value="Submit" class="btn btn-primary col-6">
            <a href="/user/profile" class="btn btn-danger col-6">Cancel</a>
        </div>
    </form>
</div>

<script>
    const sayWord = (event) => {
        // say.speak(w)
        console.log(event.currentTarget.value)
        speechSynthesis.speak(new SpeechSynthesisUtterance(event.currentTarget.value));
    }
    
</script>
<%- include('../partials/footer') -%>