<%- include('../partials/header') -%>
<h3>Add New Person</h3>
<div class=" row">
    <form method="POST" autocomplete="off" class="card card-base col s12 m6 offset-m3">
        <h2><%=test.title%></h2>
        <div class="text-center row">
        <% for (word of randTest) {%>
            <div class="input-field">
                <button type="button" onclick="sayWord(event)" id="<%=test.baseWords[0]%>" value="<%=test.baseWords[2]%>"><%=word%></button> 
                <label for="name"><%=word%></label>
                <input type="text" id="<%=word%>" name="<%=word%>">
            </div>
        <%}%>
        </div>
        <h4>Challenge Words</h4>
        <div class="text-center">
            <% for (word of randChallenge) {%>
                <div class="input-field">
                    <label for="name"><%=word%></label>
                    <input type="text" id="<%=word%>" name="<%=word%>">
                </div>
            <%}%>
        </div>
        <div class="row center">
            <button></button>
            <input type="submit" value="Grade" class="btn">
            <a href="/user/profile" class="btn ">Cancel</a>
        </div>
    </form>
</div>

<script>
    // const say = require('say')
    let w = document.getElementById('<%= test.baseWords[0] %>').value
    // console.log(w)
    const sayWord = (event) => {
        // say.speak(w)
        console.log(event.currentTarget.innerHTML)
        let utterance = new SpeechSynthesisUtterance(event.currentTarget.innerHTML);
speechSynthesis.speak(utterance);
    }
    
</script>
<%- include('../partials/footer') -%>