<%- include('../partials/header') -%>
<h3>Add New Person</h3>
<div class=" row">
    <form action="/houses" method="POST" class="card card-base col s12 m6 offset-m3">
        <h2><%=test.title%></h2>
        
        <div class="row col m12">
            <div class="input-field">
                <label for="name"><%=test.baseWords[0]%></label>
                <input type="text" id="name" name="name">
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <label for="name"><%=test.baseWords[0]%></label>
                <input type="text" id="name" name="name">
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <input type="text" id="name" name="name">
                <label for="name"><%=test.baseWords[0]%></label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <input type="text" id="name" name="name">
                <label for="name"><%=test.baseWords[0]%></label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <input type="text" id="name" name="name">
                <label for="name"><%=test.baseWords[0]%></label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <input type="text" id="gender" name="gender">
                <label for="gender">Gender</label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <input type="text" id="house" name="house">
                <label for="house">House</label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <input type="text" id="ancestry" name="ancestry">
                <label for="ancestry">Ancestry</label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <input type="text" id="actor" name="actor">
                <label for="actor">Actor</label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field">
                <input type="text" id="image" name="image">
                <label for="image">Image Url</label>
            </div>
        </div>   
        <div class="row center">
            <input type="submit" value="Save" class="btn">
            <a href="../great_hall" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
<%- include('../partials/footer') -%>