<%- include('../partials/header') -%>
<div class="container">
    <div class="card row mt-5">
        <div class="col">
            <div class="row">
                <p class="col-4">
                    <strong>User Name</strong>: <%= user.userName %>
                </p>
                <p class="col-4"><strong>Email</strong>: <%= user.email %></p>
                <a href="/logout" class="col-2 btn btn-primary">Logout</a>
            </div>
            <div class="mt-5 card">
                <div class="row">
                    <section class="col-6 mapSection">
                        <h2>Stats</h2>
                        <form>
                            <div class="dropdown">
                                <select
                                    name="testId"
                                    class="form-select"
                                    aria-label="list of spelling test titles"
                                >
                                    <option selected>Tests</option>
                                    <%for(let i =0; i < tests.length; i++) { %>
                                    <option
                                        id="testName"
                                        value="<%=tests[i]._id%>">
                                         <%=tests[i].title%>
                                    </option>
                                    <%} %>
                                </select>
                                <button>View Test</button>
                            </div>
                        </form>

                        <% if(selectedTest){%>
                        <ul>
                            <% for (word of selectedTest.baseWords) {%>
                            <li><%=word%></li>
                            <%}%>
                        </ul>
                        <%}%>
                    </section>

                    <section class="col-6 row linksSection">
                        <section class="games col-12">
                            <h3>Games</h3>
                            <a href="#" class="btn-sm btn-primary"
                                >Letter Mixup</a
                            >
                            <a href="#" class="btn-sm btn-primary"
                                >Missing Letter</a
                            >
                        </section>
                        <section class="tests col-12">
                            <h3>Tests</h3>
                            <% if(selectedTest){%>
                            <a href="#" class="btn-sm btn-primary">Pre-Test</a>
                            <a href="../tests/test/selectedTest" class="btn-sm btn-primary"
                                >Test</a
                            >
                            <%}%>
                            <a
                                href="../teacher/add_test"
                                class="btn-sm btn-primary"
                                >Add Tests</a
                            >
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>
