<%- include('../partials/header') -%>
<div class="container">
    <div class="card row mt-5">
        <div class="col">
            <div class="row">
                <p class="col-4">
                    <strong>User Name</strong>: <%= user.userName %>
                </p>
                <p class="col-4"><strong>Email</strong>: <%= user.email %></p>
                <a href="/logout" class="col-2 btn btn-primary">Logout</a>
            </div>
            <div class="mt-5 mb-5 card">
                <div class="row">
                    <section class="col-6 ">
                        <h2>Tests</h2>
                        <div class="card">
                            <form >
                            <div class="dropdown">
                                <select
                                    name="testId"
                                    class=" col-6 form-select"
                                    aria-label="list of spelling test titles"
                                >
                                    <option selected disabled>Tests</option>
                                    <%for(let i =0; i < tests.length; i++) { %>
                                    <option
                                        id="testName"
                                        value="<%=tests[i]._id%>">
                                         <%=tests[i].title%>
                                    </option>
                                    <%} %>
                                </select>
                                <button class="btn-sm">View Test</button>
                            </div>
                        </form>

                        <% if(!selectedTest){%>
                            <p>No Test Selected</p>
                        <%} else {%> 
                            <p class="text-center">
                                 <%=selectedTest.title%>
                            </p>
                           
                            <ul class="list-unstyled text-center">
                            <% for (word of selectedTest.baseWords) {%>
                            <li><%=word%></li>
                            <%}%>
                        </ul>
                           <a href="../tests/test/<%=selectedTest._id%>" class="btn-sm btn-primary justify-content-md-center text-center ">
                           Take Test
                        </a>
                         <%}%>
                        </div>
                       
                    </section>
                    <section class="tests col-6">
                        <h3>Grades</h3>
                        <% if(student.length == 0 ){%>
                            <p>No Tests Completed</p>
                        <%} else {%> 
                            <p class="text-center">
                                <%=student[0]%>
                            </p>
                                <%for(let i =0; i < student[0].test.length; i+=2) { %>
                                    Test: <%=student[0].test[i]%> Grade: <%=student[0].test[i+1]%>
                                <%} %>
                           <%}%>
                             
                    
                    </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>
