<div class="<%=room %>_room">
    <div class=" row img_fit">
        <div class="col center row s12 m12">
            <div class="card col s12 m6 offset-m3 <%= room %>_data <%= room %>_name">
                <div class="card-content center">
                    <h3 class="bold"><%= room%></h3>
                </div>
            </div>
        </div>
        <div class=" col center row s12 m12">
           <div class="card <%= room%>_table <%= room %>_data bold col s12 m4">
                <% if(charData.length != 0) { %>
                <table class="card-content card center striped">
                    <thead>
                        <tr>
                            <th class="card row ">Name</th>
                            <th class=" bold card row ">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% charData.forEach( el => { %>
                        <tr>
                            <td>
                                <a href="/houses/person/<%=el._id%>"> <%= el.name %> </a>
                            </td>
                            <td>
                                <span class="dash-status"> <%= el.status %> </span>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <p>You have not added any Characters.</p>
                <% } %>  
                </div>
            </div> 
        </div>
    </div>